/* frontend/src/components/ProgrammeInfo.css */

.programme-info {
  font-size: 1rem;
}

.programme-info-description {
  display: -webkit-box;
  -webkit-line-clamp: 8; /* Limit the description to 8 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.programme-info-actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem; /* Space between buttons */
}


.programme-info-actions .btn {
  color: white; /* Text color */
  background-color: #007bff; /* Primary blue */
  border-color: #007bff;
  font-weight: bold;
}

.programme-info-actions .btn:hover {
  background-color: #0056b3; /* Darker blue for hover state */
  border-color: #004085;
}
